.form-page {
  margin-top: 2rem;
  .container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 25rem);
    scroll-behavior: smooth;
    .columns {
      .column {
        margin: 0.5rem 1rem;
      }
    }
  }
}
#FamAffRelatives,
#Neutralization {
  .container {
    height: calc(100vh - 21rem);
  }
}
