.form-page {
  margin-top: 2rem;
  .container {
    min-width: 100%;
    scroll-behavior: smooth;
    .columns {
      .column {
        margin: 0.5rem 1rem;
        @include mobile {
          margin: 0;
        }
      }
    }
  }
}
