.form-page {
  margin-top: 2rem;
  .container {
    overflow: auto;
    height: calc(100vh - 19rem);
    scroll-behavior: smooth;
    .columns {
      .column {
        margin: 0.5rem 1rem;
      }
    }
  }
}
