.inputs {
  padding-top: 0.1rem;
  label {
    outline: none;

    span {
      color: hsl(0, 0%, 50%);
    }
  }
  input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &:focus {
      border-color: #2684ff;
    }
  }
}

.cx-create-select {
  padding-top: 0.4rem;
  .cx__control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    box-shadow: none;
    .cx__indicators {
      .cx__indicator-separator {
        width: 0;
      }
    }
  }
  .cx__menu {
    z-index: 1000;
  }
}
