
$danger: #ff342e;
$red: #ff342e;
$primary: $red;
$button-border-width: 0;

$size-1: 2.5rem;
$size-2: 2.25rem;
$size-3: 1.75rem;
$size-4: 1.25rem;
$size-5: 1.15rem;
$size-6: 1rem;
$size-7: 0.75rem;

$navbar-height: 4rem;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/table';
@import '~bulma/sass/elements/box';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/footer';
@import '~bulma/sass/layout/hero';
@import '~bulma/sass/components/modal';
@import '~bulma/sass/components/dropdown';
@import '~bulma/sass/components/pagination';
@import '~bulma/sass/components/navbar';

// bulma extensions
@import '~bulma-switch';
@import '~bulma-checkradio';


// other libs
@import '~floating-label-react/styles.css';
@import '~react-toastify/dist/ReactToastify.css';

@import './calendar';
@import './sidebar';
@import './form-page';
@import './react-tabs';
@import './global';
