@import '~react-tabs/style/react-tabs.scss';

.react-tabs {
  margin-top: 1.5rem;
  ul {
    li {
      margin-top: 1rem;
      color: hsl(0, 0%, 50%);
      min-width: 6rem;
      text-align: center;
      font-weight: 500;
    }
  }
  .react-tabs__tab--selected {
    border-radius: 0;
    color: #000000;
  }
}
