@import '@styles';

#Signup {
  .container {
    &.signup {
      .container {
        display: flex;
        flex-direction: column;
        margin: 1rem;
      }
      .form {
        width: calc(100vw - 50%);
        margin: 4rem auto;
        @include mobile {
          width: calc(100vw - 10%);
        }
      }
      .inputs-container {
        margin-top: 0;
        .inputs {
          display: flex;
          flex-direction: row;
          > div {
            margin-top: 1rem;
            width: 100%;
          }
          > div:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
      button, a {
        margin-top: 1rem;
      }
    }
  }
}
