@import '@styles';

#PersonList {
  > .container {
      padding: 2rem;
      border: 1px solid #eee;
      box-shadow: 0 0 2rem rgba(238, 238, 238, 0.5);
      @include mobile {
        padding: 0;
      }
    .wmr-table-container {
      overflow-x: auto;
      margin-bottom: 2rem;
      min-height: 70vh;
    }
    table {
      width: 100%;
      @include mobile {
        width: 70rem;
      }
      thead {
        tr {
          th {
            border-width: 0;
          }
        }
        tr:last-child {
          th {
            padding-bottom: 1rem;
          }
          box-shadow: 0px 11px 5px -9px rgba(0, 0, 0, 0.2);
        }
      }
      tbody {
        tr {
          td:nth-child(3) {
            opacity: 0;
          }
        }
      }
      .inputs {
        label {
          span {
            color: rgba(0, 0, 0, 0.3);
            font-weight: 400;
          }
        }
      }
      .select {
        margin-top: 1.6rem;
        select {
          min-width: 7rem;
        }
      }
      .table-actions {
        .button {
          padding: 5px;
          border: 1px solid #eee;
          box-shadow: 0 0 2rem rgba(238, 238, 238, 0.5);
        }
      }
    }
    .pagination {
      .pagination-list {
        justify-content: space-between;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        .is-flex {
          align-items: center;
          input {
            width: 4rem;
          }
        }
      }
    }
  }
  select,
  input {
    border-width: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: none;
  }
}
