@import '@styles';

#LoadingIndicator {
  &.loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
    left: -6rem;
    position: absolute;
  }
}
