@import '@styles';

#Organize {
  .container {
    padding: 2rem;
    border: 1px solid #eee;
    box-shadow: 0 0 2rem rgba(238, 238, 238, 0.5);
    .organize-action {
      display: flex;
      justify-content: flex-end;
    }
  }
}
